@charset "utf-8";
/* CSS Document */

html {color:#9f9f9f;background:#f3f3f3;}
body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, button,
textarea, p, blockquote, th, td {margin: 0;padding: 0;}
img {border: 0;}
body{ font-size:12px; font-family:Verdana, Geneva, sans-serif}  
.content{ position:relative; margin:0 auto; width:941px; height:1546px;background-color:#131313}   
.header{ position:absolute; left:0; top:0; width:941px; height:85px; background:url(../images/header_bg.gif) repeat-x;}    
.nav{ position:absolute; left:0;top:85px;width:941px;  height:40px;background:url(../images/nav_bg.gif) repeat-x; }    
.ban{position:absolute; left:12px; top:137px; width:917px; height:337px; background:url(../images/ban.jpg) no-repeat} 
.middle_content{ position:absolute; left:12px; top:486px; height:916px; width:917px; background:url(../images/middle_bg.gif) repeat-y;}
.middle_top{ position:absolute; left:0; top:0; width:917px; height:10px; background:url(../images/middle_top.gif) no-repeat;}
.middle_text{ position:absolute; left:0; top:10px; height:896px;}
.middle_bottom{ position:absolute; left:0; top:906px; width:917px; height:10px; background:url(../images/middle_bottom.gif) no-repeat;}
.bottom{ position:absolute; left:12px; top:1414px; width:917px; height:90px; background:url(../images/bottom_bg.gif) no-repeat; text-align:center; line-height:18px; padding:15px;}
.logo{ position:absolute; left:51px; height:6px; width:311px; height:70px;}
.home{ position:absolute; text-align:center; left:748px; height:1px; width:168px; height:18px; background:url(../images/home_bg.png) no-repeat; color:#ffe036}
.home a{ color:#ffe036;text-decoration:none}
.home a:hover{ color:#ffe036; text-decoration:underline}
.nav_index{ position:absolute; top:0px;left:64px; height:40px; width:102px;}
/*nav_intro{ position:absolute; top:0px; left:208px; height:40px; width:126px;}*/
.nav_download{ position:absolute; top:0px; left:208px; height:40px; width:118px;}
.online{ position:absolute; top:0; left:695px; height:40px;  width:222px; line-height:40px;}
.ban_r{ position:absolute;top:272px; left:543px;}
.ban_d{ position:absolute;top:272px; left:715px;}
.middle_left{position:absolute;left:10px;top:10px; width:554px; height:872px;background:url(../images/middle_left.png) no-repeat}
.news_middle_left{position:absolute;left:10px;top:10px; width:554px; height:872px;}
.news_middle_left_title{position:absolute;left:0px;top:0px; width:554px; height:41px;  background:url(../images/news_title1.png) no-repeat}
.news_middle_left_text{position:absolute;left:20px;top:41px; width:524px; height:831px; line-height:1.5; overflow:hidden}
.middle_right{position:absolute;left:592px;top:0px;width:324px; height:886px;}
.news_title{position:absolute;left:0px;top:0px;width:324px;height:41px;}
.pic_news{ position:absolute; left:10px;top:45px; width:314px; height:92px; background:url(../images/pic_bg.gif) left top no-repeat;}
.pic_text_title{ position:absolute; left:120px; top:0px; height:30px; width:190px; line-height:30px; color:#ffbe5d}
.pic_text_title a{color:#ffbe5d; text-decoration:none}
.pic_text_title a:hover{ color:#ffbe5d; text-decoration:underline}
.pic_text_con{position:absolute; left:120px; top:30px; height:62px; width:190px;overflow:hidden;line-height:1.5;}
.pic_text_con a{ color:#ffbe5d;text-decoration:none;margin-right:0px; }
.pic_text_con a:hover{ color:#ffbe5d; text-decoration:underline}
.list_news{ position:absolute; left:10px; top:140px; height:96px; width:314px;}
.list_ul{ position:absolute; margin:0; padding:0;left:0px ; top:0px; width:314px; height:96px;}
.list_ul li{ position:relative;list-style:none; height:24px;_height:19px;line-height:24px;_padding-top:5px; background:url(../images/line1.gif) left bottom repeat-x;}
.date{ position:absolute; top:0px; right:5px;color:#686868}
.list_ul li a{text-decoration:none; color:#afafaf;}
.list_ul li a:hover{text-decoration:underline; color:#afafaf;}
.star_title{position:absolute;left:0px;top:240px;width:324px;height:41px;}
.star_list{ position:absolute; left:0px;top:281px; width:324px; height:620px;}
.star1{ position:absolute; left:0px; top:0; width:323px; height:123px; background:url(../images/star_bg.png) top left no-repeat}
.star_img{ position:absolute; left:0px; top:20px; height:90px; width:106px;}
.num{ position:absolute; left:120px;top:8px;}
.star_name{position:absolute; left:160px;top:8px; width:160px; height:24px; font-size:16px; font-family:"Arial Black", Gadget, sans-serif; font-weight:bold; color:#e29400;}
.star_text{position:absolute; left:130px;top:40px;width:160px; height:80px; line-height:24px;}
.star2{ position:absolute; left:0px; top:124px; width:324px; height:123px; background:url(../images/star_bg.png) top left no-repeat}
.star3{ position:absolute; left:0px; top:248px; width:324px; height:123px; background:url(../images/star_bg.png) top left no-repeat}
.star4{ position:absolute; left:0px; top:372px; width:324px; height:123px; background:url(../images/star_bg.png) top left no-repeat}
.star5{ position:absolute; left:0px; top:496px; width:324px; height:123px; background:url(../images/star_bg.png) top left no-repeat}
